$font-family-sans-serif: 'Roboto', 'Noto Sans JP', sans-serif;
$primary: #ff9800;
$secondary: #444250;
$link-color: #2196f3;

$occupation: #fbc02d !default;
$minor-improvement: #f57c00 !default;
$major-improvement: #c2185b !default;
$x-deck: #689f38 !default;
$forest-deck: #5d4037 !default;
$wb-deck: #303f9f !default;
